  .col-3{
    color:white;
    background-color:RGB(100, 100, 100);
    border:1px solid gray;
    height:200px;
    line-height:200px;
    text-align: center;
  }
  .col-4{
    color:white;
    background-color:RGB(150, 150, 150);
    border:1px solid gray;
    height:200px;
    line-height:200px;
  }
  .col-6{
    color:white;
    background-color:RGB(50, 50, 50);
    border:1px solid gray;
    height:200px;
    line-height:200px;
  }

  .navbar {
    height: 50px;
    color:#d6d6d6;
  }

  homepage:hover{
    color: RGB(200, 50, 50);
  }
  menu{
    font-size : 12px;
    font-weight: lighter;
    color: RGB(90, 90, 90);
    margin:0px;

    margin-right:5px;
    margin-left:5px;

    padding-top:5px;

    font-family: Arial;
    font-weight: bold;
  }

  menu:hover{
    color: RGB(200, 50, 50);
  }

  .background{
    background-color:RGB(20,20,20);
  }

  .class navbarBrand{
    margin-left:100px;
  }

  .nickname{
    height:300px;
    background-color:RGB(20,20,20);
    font-family: Arial;
    text-align: center;
    border: 1px solid RGB(20,20,20);
  }

  .nickname h1 {
    margin-top:100px;
    color: RGB(200, 50, 50);
    font-size : 60px;
  }

  .nickname h1:hover {
    color: RGB(200, 50, 50);
  }

  .nickname h2 {
    color:RGB(100,100,100);
    font-size : 15px;
    font-weight: lighter;
  }

  .Main{
    background-color : RGB(20, 20, 20);
  }

  .Footer{
    height: 200px;
    background-color : RGB(10, 10, 10);
  }

  .BeforeAfterImage{
    background-color: RGB(20,20,20);
    color:RGB(200,50,50);
  }

  .paragarph{
    font-family: Arial;
    width:940px;
    margin-bottom: 10px;
    width:970px;
  }

  .paragarph name{
    font-size:20px;
  }

  .paragarph p{
    font-size : 12.5px;
    color:RGB(150,150,150);
    text-align: justify;
    margin-left:10px;
  }

  .paragarph a{
    color:RGB(150,50,50);
  }

  .paragarph a:hover{
    color:RGB(200,50,50);
    text-decoration: none;
  }

  .paragarph h2{
    font-size : 15px;
    color:RGB(100,100,100);
    line-height: 10px;
    text-align: justify;
    padding-bottom: 20px;
  }

  .paragarph h1{
    font-size:30px;
    margin-bottom:20px;
    color:#d6d6d6;
  }

  .paragarph h3{
    font-size : 12px;
    line-height: 20px;
    color:rgb(150,50,50);
  }

  .BeforeAfterImage h4{
    font-size:30px;
    margin-bottom:25px;
    color:#d6d6d6;
  }
  .paragarph h5{
    font-size : 15px;
    line-height: 20px;
    color:rgb(150,150,150);
    margin-top:-20px;
    margin-bottom:30px;
  }

  .paragarph hr{
    margin-bottom: 20px;
    background-color : RGB(100, 100, 100);
  }

  .Footer{
    height: 200px;
    background-color : RGB(10, 10, 10);
    margin-top:50px;
  }

  .copyright {
    height:20px;
    line-height: 20px;
    font-size:10px;
    background-color:RGB(10,10,10);
    color:RGB(100,100,100);
    text-align: center;
  }

  .row {
    margin-bottom:40px;
  }

  #logo{
    width:30px;
  }
